* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff3d;
  background-image: url(https://source.unsplash.com/1200x1200/?abstract,colors,patterns,textures);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  background-color: #f2f2f2;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 3px;
  transition: all 150ms ease-in-out;
}

input[type='checkbox']:hover {
  background-color: #ceffca;
  border: 2px solid #67dd5c;
}

input[type='checkbox']:checked {
  cursor: pointer;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: #67dd5c;
  transform: scale(0.8);
  border: none;
}

.alert {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  mix-blend-mode: multiply;
}

.alert-danger {
  background-color: #e633453d;
  color: #e63345;
}

.alert-success {
  background-color: #67dd5c3d;
  color: #67dd5c;
}

#app-container {
  width: 50%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 2px 12px #333;
}

#reset-btn {
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: all 250ms ease;
}

#reset-btn:hover {
  transform: scale(1.2) rotate(180deg);
  color: #731010;
}

div#app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #ebebeb;
  border: 1px solid #d6d6d6;
}

li.task h4 {
  font-size: 45px;
  color: #f7f7f7;
}

div#app-header h4 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
}

#form-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid #d6d6d6;
}

#add-input {
  width: 90%;
  border: none;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
}

#add-input::placeholder {
  font-style: italic;
}

#form-btn {
  cursor: pointer;
  border: none;
  margin-right: 20px;
  background-color: #fff;
}

li.task {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d6d6d6;
  transition: all 100ms ease;
}

li.task:hover {
  background-color: #d7e7f9;
}

li.task.checked {
  background-color: #e0f8de;
}

li.task.checked input {
  color: #4ebc44;
  font-style: italic;
}

input.task-desc {
  background-color: transparent;
  cursor: pointer;
  width: 80%;
  height: 80%;
  border: none;
  padding-left: 10px;
  font-weight: 200;
  font-size: 16px;
}

input.task-desc:focus {
  outline: none;
}

.remove-btn {
  border: none;
  cursor: pointer;
  margin-right: 20px;
  background-color: transparent;
  transition: all 100ms ease;
}

.remove-btn:hover {
  transform: scale(1.3);
}

.checkbox {
  margin-left: 5px;
}

#clear-all {
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #929292;
  font-size: 18px;
  font-weight: 300;
  background-color: #ebebeb;
  border: 1px solid #d6d6d6;
  transition: all 250ms ease-out;
}

#clear-all:hover {
  color: #731010;
  background-color: #f0e3e3;
}

@media screen and (max-width: 650px) {
  #app-container {
    width: 90%;
  }
}
